body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #190b5a;
  }
  
  .container {
    background-color: #3dacf1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  button {
    width: 100%;
    padding: 10px;
    margin: 3px 0;
    box-sizing: border-box;
  }
  
  button {
    background-color: #1eeb24;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
